.form {
  width: 350px;
  background-color: white;
  padding: 40px 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  border-radius: 6px;

}
.form h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--error);
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.form .fields {
  width: 100%;

}

.form label {
  display: block;
  font-size: 17px;
  padding: 8px 0px;
  font-weight: 600;
}
.form input {
  outline: none;
  border: 1.6px solid black;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
input:hover {
  border: 2px solid red;
}
.record-form .fields input:focus {
  background-color: rgba(114, 116, 116, 0.11);
  color: rgb(53, 53, 53);
  font-weight: bold;
  font-size: 15px;
}
.form button {
  border: none;
  background-color: rgba(83, 175, 2, 0.824);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
 margin-top: 10px;
  font-size: 15px;
}
.form button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
