nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
nav .home {
  color: white;
  font-size: 23px;
  font-weight: 500;
}
.home:hover {
  border: 1px solid white;
  padding: 8px;
}
nav .menu {
  display: flex;
  gap: 20px;
}
nav .menu a {
  padding: 8px 15px;
  background-color: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
nav .menu a:hover,.logout button:hover {
  transform: scale(1.04);
}
.logout button{
  border: 2px solid var(--primary);
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
  padding: 8px 30px;
  font-weight: 500;
  font-size: 16px;
}
@media(max-width:600px){
  nav .home {
  
    font-size: 18px;
    
  }
  nav .menu a {
    padding: 8px 10px;
    font-size: 10px;
  }
}